*.pdf
*.txt
*.rar
Dataset/res/*
*.json
*.csv
*.tgz
*.zip
Dataset/.ipynb_checkpoints
Dataset/.ipynb_checkpoints/*
tmp-*.txt
fos_*.txt
c_fos_*.txt
*.xlsx
*.edges
*.comm
*.stats
*.timeline
Dataset/data/
Dataset/measure/
*/link.txt