*.pdf
*.txt
*.rar
Dataset/res/*
Tmp/
*.json
*.csv
*.tgz
*.zip
Dataset/.ipynb_checkpoints
Dataset/.ipynb_checkpoints/*
tmp-*.txt
fos_*.txt
c_fos_*.txt
*.xlsx
*.edges
*.comm
*.stats
*.timeline
Dataset/data
Dataset/data/*
Dataset/data/cite
Dataset/data/coau
Dataset/data/s_cite
Dataset/data/s_cite/*
Dataset/data/s_cite/MIEXD_100/*
Dataset/measure/*
*/link.txt