*.pdf
*.rar
Dataset/res/*
*.json
*.csv
*.tgz
*.zip
Dataset/.ipynb_checkpoints
Dataset/.ipynb_checkpoints/*
*/tmp-*.txt
*/fos_*.txt
*/c_fos_*.txt
*.xlsx
Dataset/gen_data/*/*.edges
Dataset/gen_data/*/*.comm
Dataset/gen_data/*/*.stats
Dataset/gen_data/*/*.timeline
Dataset/data/
*/link.txt